<div class="view view-first">
  <img [src]=cardBook.Cover>
  <div class="mask">
    <div class="content">
      <h2>{{cardBook.Name}}</h2>
      <a class="action" *ngIf="details" [routerLink]="['crudBook/' + cardBook.id + '/view']">Details</a>
      <a class="action" *ngIf="edit" [routerLink]="['crudBook/' + cardBook.id + '/edit']">Edit</a>
      <a class="action" *ngIf="lean" (click)=showModal(lean)>Do a lean</a>
      <a class="action" *ngIf="reservation" (click)=showModal(reservation)>Make a reservation</a>
      <a class="action" *ngIf="deleteBook" (click)="toDelete(cardBook)">Delete</a>
    </div>
  </div>
</div>

<ng-template #lean>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Do a Lean</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)=hideModal()>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-lean-books></app-lean-books>
  </div>
</ng-template>


<ng-template #reservation>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Do a Reservation</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)=hideModal()>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-reservation-books></app-reservation-books>
  </div>
</ng-template>
