  <!-- Card-->
  <div class="card rounded shadow border-0">
      <div class="card-body p-4"><img src="https://assets.wizardingworld.com/frontend/_next/static/images/rectangle-2-312-d69c5cce3cdf1a37a03b312c38335ad1.png" alt="" class="img-fluid d-block mx-auto mb-3">
          <h5> <a href="#" class="text-dark">Harry Potter</a></h5>
          <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <ul class="list-inline small">
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
          </ul>
      </div>
  </div>
