<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="#"><i class="fas fa-book-reader mr-1"></i>ToDo BookStore</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link"> Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdown" role="button"
          aria-haspopup="true" aria-expanded="false">
          Register
        </a>
      </li>

      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li class="nav-item" routerLink="books/listBooks" routerLinkActive="active">
          <a class="nav-link">Register Book</a>
        </li>

        <li class="nav-item" routerLink="authors/listAuthors" routerLinkActive="active">
          <a class="nav-link">Register Autor</a>
        </li>

        <li class="nav-item" routerLink="genres/listGenres" routerLinkActive="active">
          <a class="nav-link">Register Genres</a>
        </li>
      </div>

      <li class="nav-item" routerLink="leans/listLeans" routerLinkActive="active">
        <a class="nav-link">Leans</a>
      </li>

      <li class="nav-item" routerLink="reservations/listReservations" routerLinkActive="active">
        <a class="nav-link">Reservations</a>
      </li>

    </ul>
  </div>
</nav>
