<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button"
  data-toggle="collapse" data-target="#navbarTogglerDemo03"
  aria-controls="navbarTogglerDemo03" aria-expanded="false"
  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">ToDo BookStore</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link"> Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item" routerLink="books/listBooks" routerLinkActive="active">
        <a class="nav-link">Register Book</a>
      </li>

      <li class="nav-item" routerLink="authors/listAuthors" routerLinkActive="active">
        <a class="nav-link">Register Autor</a>
      </li>

      <li class="nav-item" routerLink="genres/listGenres" routerLinkActive="active">
        <a class="nav-link">Register Genres</a>
      </li>
    </ul>
  </div>
</nav>
