<div class="shadow p-3 mb-5 bg-white rounded">

<div class="table-header">
  <button type="button" class="btn btn-primary">Novo</button>
  <app-pagination></app-pagination>
</div>

<table class="table text-center table-striped table-bordered">

    <thead class='thead-dark'>

      <tr>
        <th scope="col">Cod.</th>
        <th scope="col">Book</th>
        <th scope="col">Author</th>
        <th scope="col">Genre</th>
        <th scope="col">Action</th>
      </tr>

    </thead>

    <tbody>

      <tr>
        <td>1</td>
        <td>Harry Potter</td>
        <td>J. K. Rowling</td>
        <td>Fantasia</td>
        <td>
          <button type="button" class="btn btn-outline-success btn-edit">Edit</button>
          <button type="button" class="btn btn-outline-danger">Delete</button>
        </td>
      </tr>

      <tr>
        <td>2</td>
        <td>Harry Potter</td>
        <td>J. K. Rowling</td>
        <td>Fantasia</td>
        <td>
          <button type="button" class="btn btn-outline-success btn-edit">Edit</button>
          <button type="button" class="btn btn-outline-danger">Delete</button>
        </td>
      </tr>

      <tr>
        <td>3</td>
        <td>Harry Potter</td>
        <td>J. K. Rowling</td>
        <td>Fantasia</td>
        <td>
          <button type="button" class="btn btn-outline-success btn-edit">Edit</button>
          <button type="button" class="btn btn-outline-danger">Delete</button>
        </td>
      </tr>

    </tbody>

    <caption>List of books</caption>

  </table>
</div>


