<div class="container">
  <h1 class="text-center display-4 font-weight-bold">BookStore ToDo</h1>
  <hr>

  <picture>
    <img
      src="https://images.unsplash.com/photo-1443188631128-a1b6b1c5c207?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80"
      class="img-fluid rounded mb-4" />
  </picture>

  <div class="d-flex justify-content-center">
    <div class="searching">
      <app-search></app-search>
    </div>
  </div>

  <app-lastbooks></app-lastbooks>

  <app-last-authors></app-last-authors>

</div>
