<div class="container">
  <h1 class="text-center display-4 font-weight-bold">BookStore ToDo</h1>
  <hr>

  <picture>
    <img
      src="https://images.unsplash.com/photo-1443188631128-a1b6b1c5c207?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80"
      class="img-fluid rounded mb-4" />
  </picture>

  <div class="d-flex justify-content-center">
    <div class="searching">
      <app-search></app-search>
    </div>
  </div>

  <div class="books">
    <h2 class="font-weight-bold mb-2 mt-4">Last 5 books available</h2>
    <p class="font-italic text-muted mb-4">Últimos livros cadastrados no sistema.</p>

    <div class='text-center' *ngIf="!isThereDataToShow()">
      <h5>Nenhum livro cadastrado ainda.</h5>
      <a> Clique aqui para iniciar.</a>
    </div>

    <div class="d-inline-flex flex-wrap" *ngIf="isThereDataToShow()">
      <div *ngFor="let book of books">
        <app-book-cards [cardBook]="book" [details]=true></app-book-cards>
      </div>
    </div>

  </div>

  <div class="authors">
    <h2 class="font-weight-bold mb-2 mt-4">Last 5 Authors</h2>
    <p class="font-italic text-muted mb-4">Ultimos autores cadastrados no sistema.</p>

    <div class='text-center' *ngIf="!isThereAuthorToShow()">
      <h5>Nenhum author cadastrado ainda.</h5>
      <a> Clique aqui para iniciar.</a>
    </div>

    <div class="d-inline-flex flex-wrap" *ngIf="isThereAuthorToShow()">
      <div *ngFor="let author of authors">
        <app-authors-card [author]="author"></app-authors-card>
      </div>
    </div>

  </div>

</div>
