<div class="card bg-light mb-3">

  <div class="card-horizontal">

    <div class="img-card">
      <img class="rounded-circle m-2" src="{{info.UrlPhoto}}" alt="Card image cap">
    </div>

    <div class="card-body">
      <h4 class="card-title">{{ info.Name }}</h4>
      <ul>
        <li> Harry Potter e a Ordem da Fenix </li>
        <li> O Poderoso Chefão</li>
      </ul>

    </div>

    <div class="info-action text-center mt-3 mr-3">

      <div class="info">
        <p>Devolução em:</p>
        <p>15dias</p>
      </div>

      <div class="action">
        <button type="button" class="btn btn-outline-info">Devolução</button>
      </div>

    </div>
  </div>
</div>
