<div class="card bg-light mb-3">

  <div class="card-horizontal">

    <div class="img-card">
      <img class="rounded-circle m-2" src="{{info.UrlPhoto}}" alt="Card image cap">
    </div>

    <div class="card-body">

      <h4 class="card-title">{{ info.Name }}</h4>

        <p>Borrewed</p>
        <ul>
          <li> Harry Potter e a Ordem da Fenix
          <i class="fa fa-clock" aria-hidden="true"></i> 15 days
          <button class="btn btn-outline-primary btn-sm">Return</button></li>
          <li> O Poderoso Chefão
            <i class="fa fa-clock" aria-hidden="true"></i> 15 days

            <button class="btn btn-outline-primary btn-sm">Return</button></li>
        </ul>

        <p>Reservation:</p>
        <ul>
          <li> Harry Potter e a Ordem da Fenix <i class="fa fa-times" aria-hidden="true"></i> </li>
          <li> O Poderoso Chefão </li>
        </ul>

    </div>

  </div>
</div>
